html,
body,
.wrapper {
  height: 100%;
  margin: 0;
  padding: 0;
}

h1 {
  color: white;
}
h2 {
  text-align: center;
}
body {
  min-height: 100vh;
  margin: 0;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  background-color: #23507e;
  display: flex;
  justify-content: center;
  align-items: center;
}

.wrapper {
  padding: 20px;
}

header {
  text-align: center;
  padding: 20px;
  padding-top: 0px;
  color: hsl(206, 17%, 28%);
}

.card {
  flex-direction: column;
  background-color: hsl(0, 0%, 100%);
  border-radius: 40px;
  color: black;
  font-size: 18px;
  margin: 0 auto;
  max-width: 800px;
  padding: 20px;
  justify-content: center;
  align-items: center;
  border: 3px solid red;
}

.card-header::after {
  content: " ";
  display: block;
  width: 100%;
  background: #e7e9eb;
  height: 2px;
}

.card-body {
  min-height: 100px;
}

.card-footer {
  text-align: center;
}

.card-footer::before {
  content: " ";
  display: block;
  width: 100%;
  background: #e7e9eb;
  height: 2px;
}

.card-footer::after {
  content: " ";
  display: block;
  clear: both;
}

.btn {
  border: none;
  background-color: hsl(360, 91%, 36%);
  border-radius: 25px;
  color: hsl(0, 0%, 100%);
  font-size: 22px;
  line-height: 22px;
  margin: 16px 16px 16px 20px;
  padding: 14px 34px;
  cursor: pointer;
}

#password {
  width: 100vh;
  height: 100px;
  padding: 1rem;
  max-width: 700px;
  font-size: 1rem;
  text-align: center;
  margin-top: 10px;
  border: 2px solid blue;
  border-radius: 20px;
}

@media (max-width: 690px) {
  .btn {
    font-size: 1rem;
    margin: 16px 0px 0px 0px;
    padding: 10px 15px;
  }
}

@media (max-width: 500px) {
  .btn {
    font-size: 0.8rem;
  }
}
